<% @bracelets.each do |bracelet| %>
  <h2><%= bracelet.name %></h2>
  <p><%= bracelet.price %></p>
  <p><%= bracelet.color %></p>
<% end %>
<%= cl_image_tag("red_bracelet",
      width: 400, height: 300, crop: :fill) %>
